# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
src-tauri/target/
src-tauri/gen/

# logs
*.log
npm-debug.log*

# editor
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.*.local

# tauri
src-tauri/WixTools/
